#yahtzee-main{
    width: 60%;
}

#skullking-main{
    width:60%;
}

.link-block{
    display: block;
}

@media(max-width:600px){

    #yahtzee-main{
        width: 100%;
    }
    
    #skullking-main{
        width:100%;
    }

    img{
        max-height: 550px;
        
        object-fit: fill;
    }
}