p{
    width: 60%;
}

.figure-inline{
    display: flex;
    flex-wrap: wrap;
}

.link-block{
    display: block;
}

@media(max-width:600px){

    p{
        width: 100%;
    }

    img{
        max-height: 550px;
        max-width: 390px;
        object-fit: contain;
    }
}