p{
    width: 60%;
}

figure{
    margin: 0px 20px 0px 0px;
}

.figure-inline{
    display: flex;
    flex-wrap: wrap;
}

.link-block{
    display: block;
}

.full-image{
    display: block;
    height: 850px;
}

.mobile-image{
    display: none;
}

@media(max-width:600px){

    p{
        width: 100%;
    }

    img{
        max-height: 550px;
        max-width: 310px;
        object-fit: contain;
    }

    .full-image{
        display: none;
    }

    .mobile-image{
        display: block;
    }
}

@media(max-height: 400px){
    .full-image{
        display: none;
    }

    .mobile-image{
        display: block;
    }
}